<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
  </head>
<body>
       {{>navbar}}

        <div class="container-fluid main_header">
          <div class="row">
              <div class="col-md-10 col-sm-12 mx-auto">
                <div class="row">
                    <!-- rigth side  -->

                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure class="figimg">
                            <img class="img-fluid" src="images/404.png" alt="sahil"></img>
                        </figure>
                        <p> Welcome to the Weather app</p>
                        <h1>{{errormsg}} </h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                     <!-- left side -->
                   
                      
                    </div>
                </div>
              </div>
          </div>
       
        <!-- footer-class -->
    {{>footer}}
</body>
</html>