<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
  </head>
<body>
       {{>navbar}}

        <div class="container-fluid main_header">
          <div class="row">
              <div class="col-md-10 col-sm-12 mx-auto">
                <div class="row">
                    <!-- rigth side  -->

                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img class="img-fluid" src="images/about.png" alt="sahil"></img>
                        </figure>
                
                      </div>

                    <div class="col-md-6 col-12 main_header_right">
                        <p> Welcome to the Weather app</p>
                        <h1>I am  a <span class="text_clr"> MERN Stack Developer</span> Student and workiong </h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>
                     <!-- left side -->
                   
                      
                    </div>
                </div>
              </div>
          </div>
       
        <!-- footer-class -->
    {{>footer}}
</body>
</html>